---
const GITHUB_REPOS_ENDPOINT = "https://api.github.com/users/jdmg6-ua/repos";
const ROOT_ADRESS = "jdmg6-ua.github.io";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

let repos = await fetch(GITHUB_REPOS_ENDPOINT).then((res) => res.json());
repos = repos
	.map((repo) => {
		return {
			name: repo.name,
			description: repo.description,
			url: `https://${ROOT_ADRESS}/${repo.name}`,
		};
	})
	.filter((repo) => repo.name != ROOT_ADRESS);
---

<Layout title="Bienvenido a mi Portfolio.">
	<main>
		<h1>Bienvenido a mi <span class="text-gradient">Portfolio</span></h1>
		<ul role="list" class="link-card-grid">
			{
				repos &&
					repos.map((repo) => {
						return (
							<Card
								href={repo.url}
								title={repo.name}
								body={repo.description}
							/>
						);
					})
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
