---
const GITHUB_REPOS_ENDPOINT = "https://api.github.com/users/jdmg6-ua/repos";
const ROOT_ADRESS = "jdmg6-ua.github.io";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

let repos = await fetch(GITHUB_REPOS_ENDPOINT).then((res) => res.json());
repos = repos
	.map((repo) => {
		return {
			name: repo.name.toUpperCase(),
			description: repo.description,
			url: `https://${ROOT_ADRESS}/${repo.name}`,
		};
	})
	.filter((repo) => repo.name != ROOT_ADRESS.toUpperCase());
---

<Layout title="Bienvenido a mi Portfolio.">
	<main class="m-auto p-6 max-w-prose">
		<h1>Bienvenido a mi <span class="text-gradient">Portfolio</span></h1>
		<ul role="list" class="grid gap-4 p-0 grid-cols-fit">
			{
				repos &&
					repos.map((repo) => {
						return (
							<Card
								href={repo.url}
								title={repo.name}
								body={repo.description}
							/>
						);
					})
			}
		</ul>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
